---
layout: default
title: Jessmail | Post purchase drips for Shopify
og-title: Jessmail
og-image: assets/images/open-graph.jpg
og-description: The best, most afforable way to message your customers post-purchase.
---
<div class="top-section">
  <div class="logo">
    {% include logo.html %}
  </div>
  <div class="main-text">
    <h1> Jessmail </h1>
      <p> Post purchase drips for Shopify made easy. Sign up to be the first to know when we launch!</p>
  </div>
</div>
<div class="signup">
  {% include signup.html %}
</div>
