// Colors

$color-pink: red;
$color-blue: #83d0f2;
$color-black: #000000;

$font-sans-serif: Arial, Sans Serif;

body {
  color: $color-pink;
  font-family: $font-sans-serif;
}


// Body Border

#top, #bottom, #left, #right {
	position: fixed;
  border: 10px solid white;
  border-image: 10 repeating-linear-gradient(45deg, $color-pink 0, $color-pink 1em, transparent 0, transparent 2em,
              $color-blue 0, $color-blue 3em, transparent 0, transparent 4em);

	}
	#left, #right {
		top: 0; bottom: 0;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

// Container Set up
.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin: 60px;
  overflow: hidden;
}

.top-section{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.main-text{
  text-align: left;
  max-width: 340px;
  margin-bottom: 3em;
}

.signup{
  margin: 0 auto;
}

.responsive{
  width: 100%;
  max-width: 150px;
  height: auto;
}

// SG Overrides
.sendgrid-subscription-widget input{
  border: none;
}

input#sg_custom_0, input#sg_email, #sg-submit-btn{
  border-bottom: 1px solid black;
  display: block;
  min-width: 350px;
  text-align: left;
}

div#sg-response {
    text-align: center;
    margin-top: 1em;
  }

#sg-submit-btn{
  min-width: 375.59px;
   -webkit-appearance: none;
   font-weight: bold;
   text-transform: uppercase;
}

::placeholder{
  color: black;
}

input {
    border-radius: 0 !important;
}
